body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resultado, .tmb-resultado, .cardapio {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.grafico-container {
    margin-top: 30px;
    text-align: center;
}

canvas {
    margin-top: 20px;
}
.tmb-resultado {
    background-color: #e8f8f5;
}